@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  background-color: $BG_gray;
  font-family: $bodyFont;
  font-size: 1.4em;
  background-color: #333333;

  #hero_image_scroller {
    position: relative;
    margin: 0 auto;
    width: 812px;
    height: 500px;
    margin-top: 30px;
    background-color: #000;

    #loader_holder{
      position: absolute;
      z-index: 666;
      right: 60px;
      bottom: 60px;

      #loader {
        position: absolute;
        opacity: 0;
      }
    }

    .image_group {
      position: relative;
      width: 812px;
      height: 500px;
      overflow: hidden;
      background-color: #000;
      display: none;

      .gradient_fade{
        z-index: 15;
        position: absolute;
        width: 100%;
        height: 100%;
        background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 59%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(59%,rgba(0,0,0,0.65)));
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%);
        background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%);
        background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%);
        background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 59%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
      }

      .fade {
        z-index: 20;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
      }

      img {
        position: absolute;
      }

      &.active {
        display: block;
      }
    }
  }

}


